* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background: #dadedb;
}

.menu {
    background: #333333;
    color: white;
    width: 20%;
    height: 100vw;
}

h2{
    width: 100vw;
    height: 90px;
    background: white;
    border-bottom: 4px solid #c0c2c0;
    border-top: 6px solid black;
}

.subtitulo{
    font-size: 200px;
}

.tela1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.menu-item{
    color: #333333;
    text-decoration: none;

}

.logo {
    background: #333333;
    margin: 30px 25px;
    text-align: center;
    scale: 1.3;
}

.container-buttons{
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid #AAAEAB;
    margin-left: 10px;
    justify-content: center;


}

select{
    background: rgb(57, 53, 53, 0.1);
    color: #AAAEAB;
    padding: 10px 10px;

}

option{
    background: white;
    color: #333333;
    border: none;

}

input{
    background: rgb(57, 53, 53, 0.1);
    padding: 10px 20px;
    color: white;
    font-size: 14px;
}

input::placeholder{
    color: white;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;

}

.card{
    position: absolute;
    margin-top: 10%;
    background: white;
}

#opcao1, #opcao2, #opcao3, #opcao4, #opcao5, #opcao6, #opcao7, #opcao8{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;

}



